
//
// VARIABLES
//

/********** Colors **********/
$bg: 		#9bd6d1;
$text: 		#474747;
$highlight: #54263b;
$btn: 		#ed7e2f;
$code-bg: 	#333333;
$white: 	#ffffff;
$border: 	#cccccc;


/********** Variables **********/
$pad: 		15px;


/********** Font Stack **********/
$heading: 	'Josefin Slab', serif;
$font: 		'Merriweather', serif;
$helmet: 	Helmet, Freesans, sans-serif;